# Training data
data.csv
data.test.csv

models/

node_modules
.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Model files
*.pkl
*.pth

venv

# FloydHub
.floydexpt

TODO.md
